
TuiCC.xcodeproj/project.xcworkspace/xcuserdata/ars58.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

TuiCC.xcodeproj/project.xcworkspace/xcuserdata/antonioramos.xcuserdatad/UserInterfaceState.xcuserstate

TuiCC.xcodeproj/xcuserdata/antonioramos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TripPlanner.xcodeproj/project.xcworkspace/xcuserdata/antonioramos.xcuserdatad/UserInterfaceState.xcuserstate
